<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>TC_001_SignUpChampionAccount.Admin_003_CreateClient()[pri:0, instance:LoginApplications.TC_001_SignUpChampionAccount@173ed316]<br/></td></tr>
</table>
