<h2>Methods that were not run</h2><table>
<tr><td>LoginApplications.TC_001_SignUpChampionAccount.Admin_001_LoginAdmin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Client</i></td></tr>
<tr><td>LoginApplications.TC_001_SignUpChampionAccount.Admin_002_CreateClient<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Client</i></td></tr>
</table>