<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>mentoring</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abcebf">  <td>18/07/12 16:46:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_SignUpChampionAccount.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:LoginApplications.TC_001_SignUpChampionAccount@173ed316]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1984513847</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>18/07/12 16:46:25</td>   <td>10463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_SignUpChampionAccount.Admin_003_CreateClient()[pri:0, instance:LoginApplications.TC_001_SignUpChampionAccount@173ed316]">Admin_003_CreateClient</td> 
  <td>main@1984513847</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>18/07/12 16:47:12</td>   <td>58309</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_001_SignUpChampionAccount.tearDown()[pri:0, instance:LoginApplications.TC_001_SignUpChampionAccount@173ed316]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1984513847</td>   <td></td> </tr>
</table>
