<h2>Reporter output</h2><table><tr><td>2018-07-12 16:46:25,105 INFO  TC_001_SignUpChampionAccount - Step TC_001_CreateClient - 01: Open the site mentoring
</td></tr>
<tr><td>2018-07-12 16:46:25,106 INFO  TC_001_SignUpChampionAccount - Step TC_001_CreateClient - 02: Input Admin Email and Password
</td></tr>
<tr><td>2018-07-12 16:46:25,106 INFO  TC_001_SignUpChampionAccount - Step TC_001_CreateClient - 03: Click in Client button
</td></tr>
<tr><td>2018-07-12 16:46:25,106 INFO  TC_001_SignUpChampionAccount - Step TC_001_CreateClient - 04: Click in Create New button
</td></tr>
<tr><td>2018-07-12 16:46:25,106 INFO  TC_001_SignUpChampionAccount - Step TC_001_CreateClient - 05: Input Client Name
</td></tr>
<tr><td>2018-07-12 16:46:25,106 INFO  TC_001_SignUpChampionAccount - Step TC_001_CreateClient - 06: Select Client Index
</td></tr>
<tr><td>2018-07-12 16:46:25,106 INFO  TC_001_SignUpChampionAccount - Step TC_001_CreateClient - 07: Click in Client button
</td></tr>
<tr><td>2018-07-12 16:46:25,106 INFO  TC_001_SignUpChampionAccount - Step TC_001_CreateClient - 08: Click in Client Confirm button
</td></tr>
<tr><td>2018-07-12 16:46:25,106 INFO  TC_001_SignUpChampionAccount - Step TC_001_CreateClient - 26: Open yopmail
</td></tr>
</table>